---
layout: default
title: {{ site.name }}
---

<div id="home">
  <h1>About</h1>
  CS 系 M1 の学生

  <h2>興味</h2>
  <ul>
  <li>VMM</li>
  <li>Security</li>
  </ul>

  <h2 id="contact">Contact</h2>
  <ul>
    <li>
      Mail address
      <ul>
        <li>turndn.up+contact@gmail.com</li>
      </ul>
    </li>
    <li>
      Twitter
      <ul>
        <li><a href="https://twitter.com/turndn">@turndn</a></li>
      </ul>
    </li>
  </ul>

  <h3>Activity</h3>
  <ul>
    <li>SANS NETWARS 2015</li>
    <li>セキュリティ・キャンプ九州 in 福岡 2015</li>
    <li>セキュリティ・キャンプ全国大会2016</li>
  </ul>
  </div>

  <h2>Notice</h2>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.category == "notice" %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
